body {
    margin: 0;
    /* background-color: rgb(255, 255, 255); */
    /* background: linear-gradient(#ffffff, #282928); */
}


.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding-top: 10em;
    height: 20em;
    


}

.hotspot-1-container-grid {
    grid-column: 2 / 3;
    background-color: rgb(162, 162, 162);

}

.hotspot-2-container-grid {
    grid-column: 4/ 5;
    background-color: rgb(162, 162, 162);

}


.hotspot-3-container-grid {
    grid-column: 6 / 7;
    background-color: rgb(162, 162, 162);


}

.hotspot-image-1 {
    max-width: 100%;
    margin-bottom: 1em;
    


}


.rating {
    display:inline;
    background-color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px;
    color: white;
    margin-left: 1em;

}

.verdieping {
    background-color: rgb(0, 0, 0);
    display: inline;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px;
    color: white;

}

.titel-card {
color: rgb(0, 0, 0);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 600;
font-size: larger;
padding: 6px;
padding-left: 1em;


}


.card-paragraaf {
    margin-top: -23px;
margin: 1em;}